<div class="container">
  <div class="content group" style="margin-top:-660px;">

    <h2>Get stories from people that matter you</h2>

    <ol class="list-results group">
    <% @users.each do |user| %>

    

      <li class="results">
        <a href="<%=user_url(user)%>">
          <% if user.photo.file? %>
              <%= image_tag user.photo.url(:big), size:"100x100", :class => "circular" %>
            <% elsif user.image? %>
              <%= image_tag user.image, size: "100x100", :class => "circular" %>
            <% else %>
              <% if user.gender=="M"%>
                <%= image_tag "WGSlice/default-user-male.png", size:"100x100"%>
              <% elsif user.gender=="F"%>
                <%= image_tag "WGSlice/default-user-female.png", size:"100x100"%>
              <% else %>
                <%= image_tag "WGSlice/default-user-male.png", size:"100x100" %>
              <% end %>
            <% end %>
        </a>



        <%= link_to user.username, user_url(user) %>


      </li>

      <br>

    <% end %>
     <%= paginate @users%>
    </ol>

   

  </div>
</div>