<div class="container">
  <div class="content group" style="margin-top:-660px;">

    <h2>Yay, new friends!</h2>

    <ol class="group">
    <% @users.each do |user| %>

    

      <li class="results">
        <a href="<%= user_url(user) %>">
          <% if user.photo.file? %>
              <%= image_tag @user.photo.url(:big), :class => "user-propic" %>
            <% elsif user.image? %>
              <%= image_tag user.image, size: "100x100" %>
            <% else %>
              <% if user.gender=="M"%>
                <%= image_tag "WGSlice/default-user-male.png", size:"80x80"%>
              <% elsif user.gender=="F"%>
                <%= image_tag "WGSlice/default-user-female.png", size:"80x80"%>
              <% else %>
                <%= image_tag "WGSlice/default-user-male.png", size:"80x80" %>
              <% end %>
            <% end %>
        </a>
        

          <%= user.username %>
        
      </li>

      <br>

    <% end %>
    </ol>

    <%= paginate @users %>

  </div>
</div>