<% action = (customer.persisted? ? customer_url(customer) : customers_url) %>
<% method = (customer.persisted? ? "put" : "post") %>
<% message = (customer.persisted? ? "Update!" : "Sign up now!") %>

<form class="form-signin only" action="<%= action %>" method="<%= method %>" enctype="multipart/form-data">

  <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

  <h2 class="form-signin-heading"><%= message %></h2>
  <p class="lead">Engage your valuable customers</p>


  <input
     name="_method"
     type="hidden"
     value="<%= method %>">


  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">



  <input class="form-control"
     id="customer_email"
     name="customer[email]"
     type="email"
     placeholder="Corporate Email Address"
     required
     autofocus
     >

  <br>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>