 <div class="root-content-container">

  <div class = "content-main-header-root">
      <strong class="category-separator-root"><%= category.name.capitalize %> </strong>    
  </div>

  <hr class="category-name-separator">

<% category.merchants.all.each_with_index do |merchant, i| %>

<div class="prof-review-root group">
<% if merchant.reviews.first %>

  
    <div class = "row">
     <div class="prof-left-feed group col-md-1">
        
        <a href="<%=merchant_url(merchant)%>" style="z-index:9999; position:absolute;">
          <% if merchant.photo.file? %>
          <%= image_tag merchant.photo.url(:big) %>
          <% else %>
            <%= image_tag "WGSlice/default-merchant.png", size: "100x100" %>
          <% end %>
        </a>
    </div>

      
    <div class="col-md-12">
        <div class="review-body-header">

        <%= link_to merchant.reviews.first.user.username, user_url(merchant.reviews.first.user), :class => "story-writer" %>
      
      <br>
       

              <strong><%= image_tag("WGSlice/WGv5-icon_story.png", :class => "story-badge-feed") %></strong>

              <strong style="position:absolute; margin-top:7px; font-weight:100;font-size:90%"><%= merchant.reviews.first.user.reviews.count %> Stories</strong> 


            
            <strong class="story-thumb"><%= image_tag("WGSlice/WGv5-icon_thumbs.png", :class => "story-badge-feed") %></strong>

             <strong style="position:absolute; margin-top:7px; margin-left:80px; font-weight:100;font-size:90%;"> <%= merchant.reviews.first.user.count_thumbs_up%> thumbs</strong>
            
            <br>
          
          
            <strong class="story-title">"<%= merchant.reviews.first.title %>"</strong>
            <br>
          <span class="story-title-rating">Rating: <%= merchant.reviews.first.rating %> - 
          <% if merchant.reviews.first.created_at > Time.now.beginning_of_day %>
                <%="Written #{time_ago_in_words(merchant.reviews.first.created_at)} ago"%>
            <% else %>
                Written on <%= merchant.reviews.first.created_at.strftime("%m/%d/%Y") %>
            <% end %>
            </span>
        </div>
        <br>

        <div class="review-body">
          <%= merchant.reviews.first.body %>

          <% if signed_in? %>
            <% unless current_user == merchant.reviews.first.user %>
              <% if !current_user.voted_reviews.include?(merchant.reviews.first) %>
              <br>
                <%= button_to "Vote Helpful", review_vote_tags_url(merchant.reviews.first), method: :post, form_class: "cool-button", style:"margin-left:5px; margin-top:10px;" %>
              <% end %>
            <% else %>
            <% end %>

          <% if merchant.reviews.first.pic.file? %>
            <%= image_tag merchant.reviews.first.pic.url(:big) %>
          <% end %>



          <% if merchant.reviews.first.vote_tags.empty? %>
            <br><br><br><br>
              <strong class="badge-feed">0</strong>
            
            <% else %>
            <br><br><br><br>
              <strong class="badge-feed"><%= merchant.reviews.first.vote_tags.count %></strong>
              <%= image_tag("WGSlice/helpfull-btn.png", :style => "display:inline; margin-top:-35px; margin-left: 25px") %>
            
            <% end %>

           
            
          <% end %>
      
         </div>
        </div>
      </div>
      <hr>
    <% end %>

  </div>

<% end %>

</div>

      
