 <div class="root-content-container">

  <div class="row">
    <div class = "content-main-header-root col-md-7">
        <strong class="category-separator-root">Discover what shoppers say about their online experience</strong>    
    </div>
    
    <div class="col-md-5">
      <hr class="category-name-separator">
    </div>
  </div>

<% category.feeds.sort_by{ |rev| rev.created_at }.reverse!.each_with_index do |review, i| %>

 


  
    <div class="row">
      <div class="prof-left-feed col-md-1">
        
        <a href="<%=merchant_url(review.merchant)%>" style="z-index:99;">
          <% if review.merchant.photo.file? %>
          <%= image_tag review.merchant.photo.url(:big) %>
          <% else %>
            <%= image_tag "WGSlice/default-merchant.png", size: "100x100" %>
          <% end %>
        </a>
      </div>

      
      <div class="col-md-11 review-body-content">
        <div class="review-body-header">

          <%= link_to review.user.username, user_url(review.user), :class => "story-writer" %>
      
          <br>
       

          <span class="attribute-container">
            <%= image_tag("WGSlice/WGv5-icon_story.png", :class => "story-badge-in-profile") %>

            <span class="story-badge-in-profile-text"><%= review.user.reviews.count %> stories</span> 
            <%= image_tag("WGSlice/WGv5-icon_thumbs.png", :class => "thumbs-badge-in-profile") %>

            <span class="thumbs-badge-in-profile-text"> <%= review.user.count_thumbs_up%> thumbs</span>
          </span>
            
            <br>
          
          
            <h3 class="story-title">"<%= review.title %>"</h3>
            <span>Rating: <%= review.rating %> - 
            <% if review.created_at > Time.now.beginning_of_day %>
                  <%="Written #{time_ago_in_words(review.created_at)} ago"%>
              <% else %>
                  Written on <%= review.created_at.strftime("%m/%d/%Y") %>
              <% end %>
            </span>
        </div>
        <br>

        <div class="review-body">
          <%= review.body %>

        
          <br>
        

          <div>
            <br>
          <% if review.vote_tags.empty? %>
              <span class="badge-feed">0</span>
            
            <% else %>
            
              <span class="badge-feed"><%= review.vote_tags.count %></span>
              
            
            <% end %>
          </div>

          <% if signed_in? %>
            <% unless current_user == review.user %>
              <% if !current_user.voted_reviews.include?(review) %>
                <%= link_to image_tag("WGSlice/helpfull-btn.png", class:"helpful-btn" ), review_vote_tags_url(review), method: :post, form_class: "cool-button"%>
              <% else %>
                <%= image_tag("WGSlice/helpfull-btn.png", class:"helpful-btn-active") %>
              <% end %>
            <% else %>
          <% end %>

           
            
          <% end %>
      
         </div>
        </div>
      </div>
      <hr>

<% end %>

</div>

      
