<% action = (merchant.persisted? ? merchant_url(merchant) : country_merchants_url) %>
<% method = (merchant.persisted? ? "put" : "post") %>
<% message = (merchant.persisted? ? "Update merchant" : "Add New Online Store") %>

<div class="add-new-content">
   <p class="add-new-head-text"><%= message %></p>
   <p class="prologue-text">Be the first person to share story about this online store</p>

  <form class="form" action="<%= action %>" method="post" enctype="multipart/form-data">
    <input
       name="_method"
       type="hidden"
       value="<%= method %>">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">


    <div class="input">
      <input
         class="textbox-merchant-name"
         name="merchant[name]"
         type="text"
         placeholder="Online store's name goes here">
    </div>

    <div class="input">
      <input
         id="merchant_website"
         class="textbox-merchant-web"
         name="merchant[website]"
         type="url"
         placeholder="complete URL address (http://www.blabla.com)">
    </div>

    <div class="input">

      <% Category.all.each do |category| %>
        <ul class="catego group">
           <li><input id="restaurant_category" name="merchant[category_ids][]" type="checkbox" value="<%= category.id %>" <%= "checked" if @merchant.categories.include?(category) %>><%= category.name %></option></li>
        </ul>
      <% end %>
      <input type="hidden" name="merchant[category_ids][]" value="">
    </div>

     <!--div class="input">
      <select
         class="textbox-merchant-category"
         name="merchant[category_ids]">
         <% Category.all.each do |category| %>
          <option><%= category.name %></option>
         <% end %>
      </select>
    </div-->

     <div class="input">
      <select
         class="textbox-merchant-country"
         name="merchant[country_id]">
         <% Country.all.each do |country| %>
          <option><%= country.name %></option>
         <% end %>
      </select>
    </div>

    <div class="submit">
     <input class="textbox-merchant-submit" type="submit" value="Submit &amp; create story">
    </div>

    <!--div class="input">
      <label for="merchant_category">Industry</label>

    <ul>
      <% Category.all.each do |category| %>
    
       <li>
          <input id="restaurant_category" name="restaurant[category_ids][]" type="checkbox" value="<%= category.id %>" <%= "checked" if @merchant.categories.include?(category) %>><%= category.name %></option>
      </li>
    
      <% end %>
      <input type="hidden" name="merchant[category_ids][]" value="">
      </ul>
    </div>

    <br><br>

    <div class="city-switch">
      <select onChange="window.location.replace(this.options[this.selectedIndex].value)">
        <option value="">Country</option>
        <% Country.all.each do |country| %>
          <option value="<%= country_merchants_url(country) %>">
            <%= country.name %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="input">
      <label for="merchant_website">Website</label>
      <input
         id="merchant_website"
         name="merchant[website]"
         type="url"
         value="<%= @merchant.website %>">
    </div>

    <div class="input">
      <label for="merchant_phone">Phone Number</label>
      <input
         id="merchant_phone"
         name="merchant[phone]"
         type="text"
         value="<%= @merchant.phone %>">
    </div>

    <div class="input">
      <label for="merchant_photo">Add a photo for this merchant!</label>
      <input
          id="merchant_photo"
          name="merchant[photo]"
          type="file">
    </div>

    <div class="submit">
      <input type="submit" value="<%= message %>">
    </div-->
  </form>
  <br>
</div>