<div class="content-container">
  <% if (!@category.nil? || !@merchants.nil?) %>

    <ul style="list-style:none;">
    <% @merchants.each_with_index do |merchant, i| %>
      <% if merchant.photo.file? %>
          <%= image_tag merchant.photo.url(:big) %>
          <% else %>
            <%= image_tag "WGSlice/default-merchant.png", size: "120x120" %>
          <% end %>
      
          <br>
      <li>
        <a href="<%= merchant_url(merchant) %>">
        <span class="result-merchant-name"><%= merchant.name.upcase %></span>
        </a>
        <% if merchant.ranking(merchant) == nil %>
              <span style="font-weight:bold">Rank: Unranked</span>
            <% else %>
              <span style="font-weight:bold">Rank: <%= merchant.ranking(merchant) %> of <%= Merchant.all.count %></span>
            <% end %>
        <br>
        <!--on <%#= merchant.categories.first.name%> Online Store
        <br-->
        <%= merchant.country.name%>
        <br>
        Average Rating: <%= merchant.average_rating %>
        <br>
         based on <%= merchant.reviews.count %> <% if merchant.reviews.count > 1 %> stories
                                                <% else %> story
                                                <% end %>
        
      </li>



      <!--div class="search-write-story">
        <span>
          <% if current_user %>
              <%= link_to "Write a story!", new_merchant_review_url(merchant), style:"color:black;"%>
          <% end %>
        </span>
      </div-->
    <% end %>
    </ul>
    <%= paginate @merchants %>

  <% else %>
    
    <h1><%= "No results found!" %></h1>
    
    <%= button_to "Add a new online merchant", new_country_merchant_url(@country),class:"btn btn-wg", method: :get,remote: true %>
  <% end %>
</div>