<div class="content group">
  <h1>SEARCH RESULTS!</h1>

  <% if (!@category.nil? || !@merchants.nil?) %>

    <ol class="group">
    <% @merchants.each_with_index do |merchant, i| %>
      <% if merchant.photo.file? %>
        <%= image_tag merchant.photo.url(:medium) %>
      <% end %>
      <li class="search_results">
        <%= (10*(@merchants.current_page-1))+i+1 %>.
        <a href="<%= merchant_url(merchant) %>">
        <%= merchant.name %>
        </a>
        (Average Rating: <%= merchant.average_rating %>)
      </li>
    <% end %>
    </ol>
    <%= paginate @merchants %>

  <% else %>
    <%= "No results found!" %>
  <% end %>
</div>