<div class="container group">
  <h4 class="search-result">SEARCH RESULTS!</h4>

  <% if (!@category.nil? || !@merchants.nil?) %>

    <ul class="searched-merchant group">
    <% @merchants.each_with_index do |merchant, i| %>
      <% if merchant.photo.file? %>
          <%= image_tag merchant.photo.url(:big) %>
          <% else %>
            <%= image_tag "WGSlice/default-merchant.png", size: "120x120" %>
          <% end %>
          <br>
      <li class="search_results">
        <a href="<%= merchant_url(merchant) %>">
        <span class="result-merchant-name"><%= merchant.name.upcase %></span>
        </a>
        <% if merchant.ranking(merchant) == nil %>
              <span style="font-weight:bold">Rank: Unranked</span>
            <% else %>
              <span style="font-weight:bold">Rank: <%= merchant.ranking(merchant) %> of <%= Merchant.all.count %></span>
            <% end %>
        <br>
        <!--on <%#= merchant.categories.first.name%> Online Store
        <br-->
        <%= merchant.country.name%>
        <br>
        Average Rating: <%= merchant.average_rating %>
        <br>
         based on <%= merchant.reviews.count %> <% if merchant.reviews.count > 1 %> stories
                                                <% else %> story
                                                <% end %>
        
      </li>



      <!--div class="search-write-story">
        <span>
          <% if current_user %>
              <%= link_to "Write a story!", new_merchant_review_url(merchant), style:"color:black;"%>
          <% end %>
        </span>
      </div-->
    <% end %>
    </ul>
    <%= paginate @merchants %>

  <% else %>
    <div class="searched-merchant-noresult">
     <%= "No results found!" %>

       <div class="search-write-story-noresult">
        <span>
          <%= link_to "add a new online store", new_country_merchant_url(@country), style:"color:black;" %>
        </span>
       </div>
    </div>
    
  <% end %>
</div>