<div class="merchant-container">
  <div class="row">
    <div class="col-md-6">
        
        <div style="display:inline-block">
          <% if @merchant.photo.file? %>
            <%= image_tag @merchant.photo.url(:big), :class => "merchant-propic-profile", alt: @merchant.name %>
          <% else %>
              <%= image_tag "WGSlice/default-merchant.png", :class => "merchant-propic-profile", alt: @merchant.name %>            
          <% end %>
          <br>
          <span>
          Average Rating: <%= @merchant.average_rating %> 
            <br>

            (based on <%= @merchant.reviews.count %> stories)
            <br>
            
            <% if @merchant.ranking(@merchant) == nil %>
              Rank: Unranked
            <% else %>
              Rank: <%= @merchant.ranking(@merchant) %> of <%= Merchant.all.count %> online stores
            <% end %>
     
            <% if current_user %>
              <br>
              <%= button_to "Write a story!", new_merchant_review_url(@merchant), class:"btn btn-wg", method: :get%>
              <br><br>
            <% end %>
          </span>
        </div>

          

          

          <span class="attribute-container-merchant-show"> 

            <span class = "user-username">
              <%= @merchant.name.upcase %>
              <br>          
            </span>     
             <strong class="following-number"> <%= @merchant.favorites.count %> </strong>
              <% if @merchant.favorites.count > 1 %> 
               <strong class="following-text"> Followers </strong>
              <% else %>
               <strong class="following-text"> Follower </strong>
              <% end %>  
              <% unless current_user == @user %>
              <span class="favs <%="is-favorite" if current_user.favorite_places.include?(@merchant)%>">
                <%= button_to "FOLLOW", merchant_favorites_url(@merchant),class:"btn btn-default", method: :post, form_class: "favorite-button grad_button", remote: true %>
                <%= button_to "UNFOLLOW", merchant_favorite_url(@merchant), class:"btn btn-warning", method: :delete, form_class: "unfavorite-button grad_button", remote: true %>
              </span>
            <% end %>
            <br><br><br><br><br><br>
          </span>
         
    </div>

    <div class="col-md-6">
      <%= image_tag "WGSlice/default-merchant-banner.png", class:"merchant-banner" %>
    </div>
  </div>
 

  <hr>
         
  <ul class="list-inline">
    <li><%= image_tag "WGSlice/default-merchant.png" %></li>
    <li><%= image_tag "WGSlice/default-merchant.png" %></li>
    <li><%= image_tag "WGSlice/default-merchant.png" %></li>
    <li><%= image_tag "WGSlice/default-merchant.png" %></li>
    <li><%= image_tag "WGSlice/more-shoppers-photo.png" %></li>
  </ul>
            
  <hr>

  <div class="row">
    <div class="col-md-2">
      <h4 class= "followed-merchants-text">
        Offers
      </h4>
    </div>
    <div class="col-md-10">
      <hr class="stripes">
    </div>
  </div>

   <div class = "row">
    <div class="col-md-6">
      <%= image_tag "WGSlice/dummy-merchant-offer.png", class:"offer-img"%>
      <p class="offer-text">
      Sapiente enim ut et consequatur reiciendis praesentium ipsam. Delectus nulla et consequuntur eum eos corporis et. Repudiandae earum omnis at odit consequatur quia. Ullam eum et veniam beatae. Qui nihil officiis qui nostrum veniam. Esse quod omnis sed sunt commodi ad. Cum rerum alias deserunt vitae iusto. Porro ut nemo incidunt id et. Suscipit et voluptas maiores. Eos cumque consequuntur dolores necessitatibus et. Quia iure accusantium quasi cumque distinctio dolores. Neque dolores labore impedit.
      </p>

    </div>

    <div class="col-md-6">
      <%= image_tag "WGSlice/dummy-merchant-offer.png", class:"offer-img"%>
      <p class="offer-text">
      Sapiente enim ut et consequatur reiciendis praesentium ipsam. Delectus nulla et consequuntur eum eos corporis et. Repudiandae earum omnis at odit consequatur quia. Ullam eum et veniam beatae. Qui nihil officiis qui nostrum veniam. Esse quod omnis sed sunt commodi ad. Cum rerum alias deserunt vitae iusto. Porro ut nemo incidunt id et. Suscipit et voluptas maiores. Eos cumque consequuntur dolores necessitatibus et. Quia iure accusantium quasi cumque distinctio dolores. Neque dolores labore impedit.
      </p>

    </div>
  </div>

            

  <div class="more-offers">
    <button class="btn btn-default btn-wg">More Offers</button>
  </div>    

  <hr>

  <div class="row">
    <div class="col-md-2">
      <h4 class= "followed-merchants-text">
        Stories
      </h4>
    </div>
    <div class="col-md-10">
      <hr class="stripes">
    </div>
  </div>

 
  <%= render "reviews/merchant_public", :merchant => @merchant %>
           
</div>

<!--div class="rest-content group">

  <section class="modal">
    <article class="modal-box">
      <span class="modal-close-button">&times;</span>
      <div id="modal-container">

        <form class="form" action="<%= merchant_reviews_url(@merchant) %>" method="post" data-remote="true" id="jsform">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">

         <h1>New Story!</h1>

         <div class="input">
          <label for="review_rating">Rating</label>
          <select id="review_rating" name="review[rating]">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
         </div>

         <div class="input">
          <label for="review_email">Review Title</label>
          <input id="review_title" name="review[title]" type="text" value="">
          <br>
        </div>

        <div class="input">
          <label for="review_body">Review Body</label><br>
        <textarea id="review_body" name="review[body]"></textarea>
        </div>

         <div class="submit">
          <input id="submit" type="submit" value="Create review!">
         </div>
        </form>

      </div>
    </article>
  </section>

  <div class="rest-left group">
    <div class="rest-info">

      <div class="rest-photo">
      <% if @merchant.photo.file? %>
        <%= image_tag @merchant.photo.url(:big) %>
      <% else %>
        <%= image_tag "WGSlice/default-merchant.png", size: "150x150" %>
      <% end %>
      </div>


    <h2>
      <%= @merchant.name %> (<%= link_to "Claim Now!", customer_url(@merchant) %>)
      <%= "(CLOSED)" if @merchant.open == false %>
    </h2>

    <% if current_user && current_user.admin == true %>
      (<%= link_to "Edit Listing", edit_merchant_url(@merchant) %>)
    <% end %>
    <br>

    <% if signed_in?%>
    <% testClass = '' %>
    <% if current_user.favorite_places.include?(@merchant) %>
      <% testClass += 'is-favorite' %>
    <% end %>
    <div class="favs <%="is-favorite" if current_user.favorite_places.include?(@merchant)%>">
      <%= button_to "FAVORITE", merchant_favorites_url(@merchant), method: :post, form_class: "favorite-button grad_button", remote: true %>
      <%= button_to "UNFAVORITE", merchant_favorite_url(@merchant), method: :delete, form_class: "unfavorite-button grad_button", remote: true %>
    </div>
    <% end %>

  <br>
  Ranked: <%= @merchant.ranking(@merchant) %> of <%= Merchant.all.count %> online stores
  <br>
  Average Rating: <%= @merchant.average_rating %> (<%= @merchant.reviews.count %> reviews)

  <br>

  Categories:
  <br>
  <ul>
  <% @merchant.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
  </ul-->

  <!-- merchant INFO -->

  <!--h3>merchant Info</h3>
  <ul>
   
  </ul-->

  <!-- REVIEWS -->
  <!--h3>Stories</h3>

  <% if current_user && @merchant.open == true %>
    
    <%= link_to "Write a story!", new_merchant_review_url(@merchant)%>
  <% end %>


  <br>
<div class="reviews">
  <%= render "reviews/index", :merchant => @merchant %>
</div>
    </div>
  </div-->


  <!-- MAPS IMAGE -->

  <!--div class="rest-right group">
    <%= render "reviews/randompic", :merchant => @merchant %>
    
  </div>
</div-->



<script>

// NEW REVIEW MODAL

$(document).ready(function(){

  window.modal = {
    show: function(){
      $("body").addClass("has-active-modal");
    },
    hide: function(){
      $("body").removeClass("has-active-modal");
    }
  };

  $("body").on("click", ".show-modal", function(event){
    event.preventDefault();
    window.modal.show();
  });

  $(".modal").on("click", function(event){

    $target = $(event.target);

    if($target.is(".modal") || $target.is(".modal-close-button")){
      event.preventDefault();
      window.modal.hide();
    }
  });

  $("#jsform").on("ajax:send", function(event){
    $("#submit").attr('disabled', 'true');
  });

  $("#jsform").on("ajax:success", function(event, data){
    window.modal.hide();
    $(".reviews").prepend(data);
    $(".show-modal").remove();
  });

});

  // FAVORITES
  $('.favorite-button').on('ajax:send', function(event){
    $('.favs').toggleClass('is-favorite');
  });

  $('.unfavorite-button').on('ajax:send', function(event){
    $('.favs').toggleClass('is-favorite');
  });
</script>