<% action = (review.persisted? ? review_url(review) : merchant_reviews_url(merchant)) %>
<% method = (review.persisted? ? "put" : "post") %>
<% message = (review.persisted? ? "Update Story!" : "Create Story!") %>

<form class="form" action="<%= action %>" method="<%=method%>">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

 <h4><%= message %></h4>

 <div class="input">
  <label for="review_rating">Rating</label>
  <select id="review_rating" name="review[rating]">
    <option value="1" <%= "selected" if @review.rating == 1 %>>1</option>
    <option value="2" <%= "selected" if @review.rating == 2 %>>2</option>
    <option value="3"<%= "selected" if @review.rating == 3 %>>3</option>
    <option value="4" <%= "selected" if @review.rating == 4 %>>4</option>
    <option value="5" <%= "selected" if @review.rating == 5 %>>5</option>
  </select>
 </div>

 <div class="input">
  <label for="review_email">Story Title</label>
  <input
     id="review_title"
     name="review[title]"
     type="text"
     value="<%= @review.title %>">
  <br>
</div>

<div class="input">
  <label for="review_body">Story Body</label><br>
<textarea rows="4"
          cols="50"
          id="review_body"
          name="review[body]"><%= @review.body %></textarea>
</div>

<div class="input">
    <label for="story_photo">A pic is worth thousand words. Upload now:</label>
    <input
        id="user_photo"
        name="user[photo]"
        type="file">
  </div>

 <div class="submit">
  <input type="submit" value="<%= message %>">
 </div>
</form>