<%merchant.reviews.sort_by{ |rev| rev.created_at }.reverse!.each do |review| %>

<%if review%>

<div style="display:inline-block">
 
   <a href="<%= user_url(review.user)%>">
        <% if review.user.photo.file? %>
        <%= image_tag review.user.photo.url(:big), size: "100x100" %>
        <% elsif review.user.image? %>
          <%= image_tag review.user.image, size: "100x100" %>
        <% else %>
          <% puts "*************************#{review.user.gender}********************" %>
          <% if review.user.gender=="M" %>
            <%= image_tag "WGSlice/default-user-male.png", size: "100x100" %>
          <% elsif review.user.gender=="F" %>
            <%= image_tag "WGSlice/default-user-female.png", size: "100x100" %>
          <% else %>
            <%= image_tag "WGSlice/default-user-male.png", size: "100x100" %>
          <% end %>
        <% end %>
      </a>


    <span class="attribute-container-public"> 

      <%= link_to review.user.username, user_url(review.user), :class => "story-writer-public" %>
      <br>
      <strong class="story-writer-public-rating">Rating: <%= review.rating %> </strong>
        
        <br>
          
          <strong class="story-thumb-public"><%= image_tag("WGSlice/WGv5-icon_thumbs.png", :class => "story-badge-public") %></strong>

           <strong style="margin-left:3px;font-weight:100;font-size:120%;"> <%= review.user.count_thumbs_up%> thumbs</strong>

           <strong><%= image_tag("WGSlice/helpfull-btn.png", :style => "display:inline; margin-left: 5px; width:90px;height:30px")%></strong>
          
         <br><br>
         
          
    </span>
      

    <div class="review-body">
      <strong class="story-title-public">"<%= review.title %>"</strong>
        
        

        <div class="written-time-public">
          <% if review.created_at > Time.now.beginning_of_day %>
                <%="- #{time_ago_in_words(review.created_at)} ago"%>
                <br>
            <% else %>
                - Written on <%= review.created_at.strftime("%m/%d/%Y") %>
                <br>
            <% end %>
        </div>
      
        <%= raw review.body %>
          

      <% if review.pic.file? %>
        <br><br>
        <%= image_tag review.pic.url(:big), class:"story-img img-responsive" %>
        <br>
      <% end %>

      <% if current_user == review.user %>
        <br><br>
        <%= link_to image_tag("WGSlice/edit-btn.png", class:"edit-story-button btn-wg"), edit_review_url(review) %>
        <br>
      <% end %>
          
    </div>
  
</div>

<hr>
  <%end%>

<% end %>
