<%user.feed.sort_by{ |rev| rev.created_at }.reverse!.each do |review| %>


    <div class = "row">
     <div class="prof-left-feed group col-md-1" style="display:inline-block">
      <a href="<%= user_url(review.user)%>">
        <% if review.user.photo.file? %>
        <%= image_tag review.user.photo.url(:big) %>
        <% elsif review.user.image? %>
          <%= image_tag review.user.image, size: "100x100" %>
        <% else %>
          <% puts "*************************#{review.user.gender}********************" %>
          <% if review.user.gender=="M" %>
            <%= image_tag "WGSlice/default-user-male.png", size: "100x100" %>
          <% elsif review.user.gender=="F" %>
            <%= image_tag "WGSlice/default-user-female.png", size: "100x100" %>
          <% else %>
            <%= image_tag "WGSlice/default-user-male.png", size: "100x100" %>
          <% end %>
        <% end %>
      </a>
      
      <a href="<%= merchant_url(review.merchant)%>">
        <% if review.merchant.photo.file? %>
        <%= image_tag review.merchant.photo.url(:big) %>
        <% else %>
          <%= image_tag "WGSlice/default-merchant.png", size: "100x100" %>
        <% end %>
      </a>
    </div>

      
    <div class="col-md-11">
        <div class="review-body-header">

        <%= link_to review.user.username, user_url(review.user), :class => "story-writer" %>
      
      <br>
       

              <strong><%= image_tag("WGSlice/WGv5-icon_story.png", :class => "story-badge-feed") %></strong>

              <strong style="position:absolute; margin-top:7px; font-weight:100;font-size:90%"><%= review.user.reviews.count %> Stories</strong> 


            
            <strong class="story-thumb"><%= image_tag("WGSlice/WGv5-icon_thumbs.png", :class => "story-badge-feed") %></strong>

             <strong style="position:absolute; margin-top:7px; margin-left:80px; font-weight:100;font-size:90%;"> <%= review.user.count_thumbs_up%> thumbs</strong>
            
            <br>
          
          
            <strong class="story-title">"<%= review.title %>"</strong>
            <br>
          <span class="story-title-rating">Rating: <%= review.rating %> - 
          <% if review.created_at > Time.now.beginning_of_day %>
                <%="Written #{time_ago_in_words(review.created_at)} ago"%>
            <% else %>
                Written on <%= review.created_at.strftime("%m/%d/%Y") %>
            <% end %>
            </span>
        </div>
        <br>

        <div class="review-body">
          <%= review.body %>
           <br>
        

          <div>
            <br>
          <% if review.vote_tags.empty? %>
              <span class="badge-feed">0</span>
            
            <% else %>
            
              <span class="badge-feed"><%= review.vote_tags.count %></span>
              
            
            <% end %>
          </div>

          <% if signed_in? %>
            <% unless current_user == review.user %>
              <% if !current_user.voted_reviews.include?(review) %>
                <%= link_to image_tag("WGSlice/helpfull-btn.png", class:"helpful-btn" ), review_vote_tags_url(review), method: :post, form_class: "cool-button"%>
              <% else %>
                <%= image_tag("WGSlice/helpfull-btn.png", class:"helpful-btn-active") %>
              <% end %>
            <% else %>
          <% end %>

           
            
          <% end %>

          <% if review.pic.file? %>
            <br><br>
            <%= image_tag review.pic.url(:big) %>
            <br><br>
          <% end %>

         


      
         </div>
        </div>
      </div>

    <hr>

<% end %>

