<%user.feed.sort_by{ |rev| rev.created_at }.reverse!.each do |review| %>

<div class="prof-review group">

  <h4><%= link_to review.merchant.name, merchant_url(review.merchant) %></h4>
    <% if current_user == @user %>
      (<%= link_to "Edit Story", edit_review_url(review) %>)
    <% end %>
  <br>
  Rating: <%= review.rating %>
  <br>
  <p>
    By: <%= link_to review.user.username, user_url(review.user) %>
  </p>
  <strong>"<%= review.title %>"</strong>
  <br>

  <div class="review-body">
  <%= review.body %>

  <% if review.pic.file? %>
    <%= image_tag review.pic.url(:big) %>"
  <% end %>

  <% if review.created_at > Time.now.beginning_of_day %>
      <br><%="Written #{time_ago_in_words(review.created_at)} ago"%>
  <% else %>
      <br>Written on <%= review.created_at.strftime("%m/%d/%Y") %>
  <% end %>
  </div>

</div>
<br>

<% end %>

