<%user.reviews.sort_by{ |rev| rev.created_at }.reverse!.each do |review| %>

  <div class="prof-review group">

       <div class="prof-left-feed group">
          
          <% if review.merchant.photo.file? %>
          <%= image_tag review.merchant.photo.url(:big) %>
          <% else %>
            <%= image_tag "WGSlice/default-merchant.png", size: "100x100" %>
          <% end %>

      </div>

      <%= link_to review.merchant.name.upcase, merchant_url(review.merchant), :class => "story-writer" %>

      <div class="store-category-text">
        <strong> <%= review.merchant.categories.first.name.capitalize %> Category</strong>
        <br>
        <strong> <%#= review.merchant.country.name %> </strong>
      </div>
      <br>
        <strong>Rating: <%= review.rating %> </strong>
      
      <br> <br>
        
        <strong class="story-thumb-public"><%= image_tag("WGSlice/WGv5-icon_thumbs.png", :class => "story-badge-public") %></strong>

         <strong style="position:absolute; margin-top:10px; margin-left:45px; font-weight:100;font-size:120%;"> <%= review.user.count_thumbs_up%> thumbs</strong>

         <strong><%= image_tag("WGSlice/helpfull-btn.png", :style => "display:inline; margin-top:0px; margin-left: 145px; height:40px")%></strong>
        
       
       <div class="story-title-public">
        <strong class="story-title">"<%= review.title %>"</strong>
       </div>
    <% if current_user == @user %>
        (<%= link_to "Edit Story", edit_review_url(review) %>)
      <% end %>

      <div class="written-time-public">
        <% if review.created_at > Time.now.beginning_of_day %>
              <%="- #{time_ago_in_words(review.created_at)} ago"%>
              <br>
          <% else %>
              - <%= review.created_at.strftime("%m/%d/%Y") %>
              <br>
          <% end %>
      </div>
    

    <div class="review-body-public">
      <%= review.body %>


      <% if review.pic.file? %>
        <%= image_tag review.pic.url(:big) %>
      <% end %>

      <br><br>

      <div>
        <hr>
      </div>
      
      
    </div>


  </div>

<% end %>

