<!DOCTYPE html>
<html lang="en">
<head>
  <title>WarmGreet</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<% env = Rails.env %>
<%#puts Rails.env + "ADFADFADFA"%>
<% if env == "development" %>
  <% home = "http://localhost:3000" %> 
<% else %>
  <% home = "http://warmgreet.com"%>
<% end %>    

<%Keen.project_id = Rails.configuration.KEEN_PROJECT_ID%>
    <%Keen.write_key = Rails.configuration.KEEN_WRITE_KEY%>
  <%Keen.read_key = Rails.configuration.KEEN_READ_KEY%>
<%Keen.master_key = Rails.configuration.KEEN_MASTER_KEY%>

<% @review = Review.order("RANDOM()").first %>
 <%@categories = Category.all %>

<header>



  <% if request.original_url == "#{home}/merchants/index.html" %>
    <nav class="top-nav group">
      <div class="WG-mainlogo">
        <%= image_tag "WGSlice/mainlogo.png", class:"img-responsive" %>
                
      </div>
      <form class="navbar-form navbar-right search-bar" action="<%= search_url %>" method="get">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <input type="text input-large search-query" name="query" class="form-control" placeholder="Search Online Store">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      
  <% end %>

  <% if request.original_url == "#{home}/"%>

    <nav class="top-nav group img-responsive">
      <form class="navbar-form navbar-right search-bar" action="<%= search_url %>" method="get">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <input type="text input-large search-query" name="query" class="form-control" placeholder="Search Online Store">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <div class="WG-mainlogo">
        <%= image_tag("WGSlice/mainlogo.png", height: '100%', width: '100%')%>
        
        
        <span class="random-story">
          <%if @review != nil %>
            <% if @review.user.photo.file? %>
              <%= image_tag @review.user.photo.url(:big) %>
              <% elsif @review.user.image? %>
                <%= image_tag @review.user.image, size: "100x100", class:"circular" %>
              <% else %>
                <%# puts "*************************#{review.user.gender}********************" %>
                <% if @review.user.gender=="M" %>
                  <%= image_tag "WGSlice/default-user-male.png", size: "100x100", class:"circular" %>
                <% elsif @review.user.gender=="F" %>
                  <%= image_tag "WGSlice/default-user-female.png", size: "100x100", class:"circular" %>
                <% else %>
                  <%= image_tag "WGSlice/default-user-male.png", size: "100x100", class:"circular" %>
                <% end %>
              <% end %>

             <div class="random-story-text">
                <span class="random-story-title">"<%= @review.title %>"</span>
                <br>
                <span class="random-story-body">
                  Rating: <%= @review.rating %> 
                      - <%= @review.user.username%>'s shopping story 
                 </span>
               <br><br>

               <span class="random-story-see-more"> 
                  see more shopping stories on 
               
                 <br>
                 
                
                 <strong><%= link_to @review.merchant.name, merchant_url(@review.merchant), style:"color:white; margin-left:10px" %></strong>
                </span> 
             </div>
             
             <br>
             
             
          <% end %>
        </span>
        
      </div>
  <% else %>
    <nav class="top-nav-no-index group">
      <form class="navbar-form navbar-right search-bar-no-home" action="<%= search_url %>" method="get">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <input type="text input-large search-query" name="query" class="form-control" placeholder="Search Online Store">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  <% end %>


  <% if signed_in? %>
   <%# puts "*****************#{current_user.slug}*****************"%>
    <% if request.original_url == "#{home}/users/#{current_user.slug}"%>
      <nav class="top-nav-stories-feed group">
    
    <% elsif request.original_url == "#{home}/categories/Electronics"%>
      <nav class="top-nav-electronics group">

    <% elsif request.original_url == "#{home}/categories/Fashion"%>
      <nav class="top-nav-fashion group">
    <% end %>

  <% else %>
    <% if request.original_url == "#{home}/categories/Electronics"%>
      <nav class="top-nav-electronics group">

    <% elsif request.original_url == "#{home}/categories/Fashion"%>
      <nav class="top-nav-fashion group">
    <% else %>
      <nav class="top-nav-no-index group">
    <% end %>
  <% end %>

 
    <div class="top-nav-header">
      <div class="logo">
        <% if request.original_url != "#{home}/"%>
          <% if signed_in? %>
            <a href="/">
              <%= image_tag("wg_logo_2.png", height: '60', width: '60')%>
            </a>
          <% else %>
            <a href="/">
              <%= image_tag("wg_logo_2.png", height: '60', width: '60')%>
            </a>
          <% end %>
        <% else %>
        <% end %>
      </div>
    </div>

    
      <% if signed_in? %>
      
      <!--div class="user-pic-header">
        <% if current_user.photo.file? %>
          <%= image_tag current_user.photo.url(:big), :class => "user-propic circular" %>
        <% elsif current_user.image? %>
          <%= image_tag current_user.image, size: "35x35", :class => "circular" %>
        <% else %>
          <% if current_user.gender=="M"%>
            <%= image_tag "WGSlice/default-user-male.png", size:"40x40" %>
          <% elsif current_user.gender=="F"%>
            <%= image_tag "WGSlice/default-user-female.png", size:"40x40"%>
          <% else %>
            <%= image_tag "WGSlice/default-user-male.png", size:"40x40" %>
          <% end %>
        <% end %>
      </div-->

      
      <div class="info">
          
        <ul>
            <%#if current_user = shopper%>
            
            <li class="list-header">

              <%#= link_to current_user.username, user_url(current_user) %>

                  <a href="<%=profile_index_url(current_user)%>" style ='color:#FFFFFF; font-family:bariol;'>
                    <%=current_user.username.capitalize%>
                    <b class="caret"></b>
                  </a>

                      <ul>
                        <li><%= link_to "Story Feed", user_url(current_user),:style => 'color:#FFFFFF;' %></li>
                        <li><%= link_to "Sign Out", session_url, :method => :delete, :style => 'color:#FFFFFF;' %></li>
                      </ul>

            </li>
            
          </ul>


        </div>

               
              <%#= "(admin)" if current_user.admin == true %>
            
            <!--li style="color:white"><%= link_to "Sign Out", session_url, :method => :delete, :style => 'color:#FFFFFF;' %></li-->
        <% else %>
           <div class="info-not-sign-in">
            <ul>
             
              <li><%= link_to "Sign up", new_user_url, {:style => 'color:#FFFFFF; font-family:bariol'} %></li>
              
              |
              
              <li><%= link_to "Sign In", new_session_url, {:style => 'color:#FFFFFF; font-family:bariol'} %></li>
            
          <% end %>
          
        </ul>
      </div>
      
    <div class="container group">
      <% if request.original_url != "#{home}/"%>
          <% if signed_in? %>


            
              <div class="write_story">
                <ul class="nav nav-pills">
                  <li>
                    <a  class="white" href="<%= writestory_write_url %>">
                        Write a new story
                    </a>
                  </li>
                </ul>
              </div>


             

              <div class="category" >
                <ul class="nav nav-pills">
                  <li>
                   <a class="white">
                    Category   
                   </a>
                    <ul class="category-dropdown">
                      <li><a href="<%=category_url(@categories.first)%>"><%=@categories.first.name%></a></li>
                      <li><a href="<%=category_url(@categories.second)%>"><%=@categories.second.name%></a></li>
                    </ul>
                  </li>
                </ul>
              </div>

              <!--div class = "find_friends"-->
              <div class="find_friends">
                <ul class="nav nav-pills">
                  <li>
                    <a class="white" href="<%= users_url%>">
                        Find Friends
                    </a>
                  </li>
                </ul>
                  <%#= link_to "Find Friends".html_safe, users_url %>
              </div>
            </ul>
            <% else %>
              <div class = "category-no-sign-in">
               <a class="white">
                Category
               </a>
               
              </div>

              <div class = "find_friends-no-sign-in">
                <a href="<%= users_url%>"  style="color:white">
                  Find Friends
                </a>
                  <%#= link_to "Find Friends".html_safe, users_url %>
              </div>
          <% end %>
      <% else %>
          <% if signed_in? %>
              <div class = "write_story-home">
                <ul class="nav nav-pills">
                  <li>
                <a class="white" href="<%= writestory_write_url %>">
                    Write a new story
                </a>
                   </li>
                </ul>
              </div>

              <div class = "category-home">
                 <ul class="nav nav-pills">
                  <li>
                   <a class="white">
                    Category
                   </a>
                     <ul class="category-dropdown">
                      <li><a href="<%=category_url(@categories.first)%>"><%=@categories.first.name%></a></li>
                      <li><a href="<%=category_url(@categories.second)%>"><%=@categories.second.name%></a></li>
                    </ul>
                   </li>
                  </ul>
              </div>

              <div class = "find_friends-home">
                <ul class="nav nav-pills">
                  <li>
                  <a class="white" href="<%= users_url%>">
                      Find Friends
                  </a>
                    <%#= link_to "Find Friends".html_safe, users_url %>
                  </li>
                </ul>
              </div>
            <% else %>
              <div class = "category-home-no-sign-in">
                 <ul class="nav nav-pills">
                  <li>
                   <a class="white">
                    Category
                   </a>
                   <ul class="category-dropdown">
                      <li><a href="<%=category_url(@categories.first)%>"><%=@categories.first.name%></a></li>
                      <li><a href="<%=category_url(@categories.second)%>"><%=@categories.second.name%></a></li>
                    </ul>
                  <li>
                  </ul>
              </div>

              <div class = "find_friends-no-sign-in-home">
                 <ul class="nav nav-pills">
                  <li>
                    <a class="white" href="<%= users_url%>">
                      Find Friends
                    </a>
                  </li>
                 </ul>
                  <%#= link_to "Find Friends".html_safe, users_url %>
              </div>
          <% end %>

      <% end %>
  </div>    

    </div>
  </nav>
</header>

<main>
  <div class="main group">

    <%= yield %>

  </div>
</main>


<footer class="group">
  <div class="footer group">
  </div>
</footer>

</body>
</html>